[submodule "HPM-MVS_plusplus"]
	path = HPM-MVS_plusplus
	url = https://github.com/gaborpelesz/HPM-MVS_plusplus
[submodule "APD-MVS"]
	path = APD-MVS
	url = https://github.com/gaborpelesz/APD-MVS.git
[submodule "ACMMP"]
	path = ACMMP
	url = https://github.com/gaborpelesz/ACMMP.git
[submodule "HPM-MVS"]
	path = HPM-MVS
	url = https://github.com/gaborpelesz/HPM-MVS.git
[submodule "gipuma"]
	path = gipuma
	url = https://github.com/gaborpelesz/gipuma.git
[submodule "ACMH"]
	path = ACMH
	url = https://github.com/gaborpelesz/ACMH.git
[submodule "cuda-multi-view-stereo"]
	path = cuda-multi-view-stereo
	url = https://github.com/fixstars/cuda-multi-view-stereo.git
